# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: false      # Automatically injects dependencies in your services.
        autoconfigure: false # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
#    Cappuccino\:
#        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    Cappuccino\Command\DebugTagsCommand:
        calls:
            - [setHttpClient, ['@http_client.uri_template']]
            - [setLogger, ['@monolog.logger']]
            - [setTagMapper, ['@cappuccino.service.tag_mapper']]
        tags:
            - {name: 'console.command'}

    Cappuccino\Command\SyncRadiosCommand:
        calls:
            - [setEntityManager, ['@doctrine.orm.default_entity_manager']]
            - [setFilesystem, ['@filesystem']]
            - [setHttpClient, ['@http_client.uri_template']]
            - [setLogger, ['@monolog.logger']]
            - [setTagMapper, ['@cappuccino.service.tag_mapper']]
        tags:
            - {name: 'console.command'}

    cappuccino.controller.station_v1:
        class: Cappuccino\Controller\StationV1Controller
        calls:
            - [setEntityManager, ['@doctrine.orm.default_entity_manager']]
            - [setLogger, ['@monolog.logger']]

    Cappuccino\Controller\StationV1Controller:
        alias: 'cappuccino.controller.station_v1'
        public: true

    cappuccino.controller.health_v1:
        class: Cappuccino\Controller\HealthV1Controller
        calls:
            - [setEntityManager, ['@doctrine.orm.default_entity_manager']]

    Cappuccino\Controller\HealthV1Controller:
        alias: 'cappuccino.controller.health_v1'
        public: true

    Cappuccino\Repository\StationRepository:
        arguments:
            $registry: '@doctrine'
        tags:
            - {name: 'doctrine.repository_service'}

    Cappuccino\Repository\StationCountryRepository:
        arguments:
            $registry: '@doctrine'
        tags:
            - {name: 'doctrine.repository_service'}

    Cappuccino\Repository\StationLanguageRepository:
        arguments:
            $registry: '@doctrine'
        tags:
            - {name: 'doctrine.repository_service'}

    Cappuccino\Repository\StationTagRepository:
        arguments:
            $registry: '@doctrine'
        tags:
            - {name: 'doctrine.repository_service'}

    Cappuccino\Scheduler\MainSchedule:
        autoconfigure: true
        arguments:
            $cache: '@cache.app'

    'cappuccino.service.tag_mapper':
        class: Cappuccino\Service\TagMapper
